<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/Main/css/style.css"> 
    <title>Cars</title>
</head>
<body>
    <h1>Книги</h1>
    <h2>Квіти для Елджернона</h2>
    <img src="images/Flowers.jpg" alt="">
    <h2>Іскра життя</h2>
    <img src="images/iskra.jpg" alt="">
    <h2>Багатий тато, Бідний тато</h1>
    <img src="images/papa.webp" alt="">
    <h2>Воно</h1>
    <img src="images/it.jpg" alt="">
</body>
</html>